<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据邦截图</title>
</head>
<body>
    <h2>由于www.zettage.net无法访问, 从内部截取了部分网页图片</h2>
    <h3>公司首页</h3>
    <img src="http://o913sn63o.bkt.clouddn.com/注册登录.png">
    <h3>数据上传页面</h3>
    <img src="http://o913sn63o.bkt.clouddn.com/实时数据.png">
    <img src="http://o913sn63o.bkt.clouddn.com/大数据上传.png">
    <h3>用户中心页面</h3>
    <img src="http://o913sn63o.bkt.clouddn.com/输入金额.png">
    <h3>工具库页面 在ubuntu基础镜像上按需安装不同的软件,作为用户主要的分析工具</h3>
    <img src="http://o913sn63o.bkt.clouddn.com/工具发布.png">
    <h3>工作台页面 用户可以在VNC容器内进行一些数据分析, 文件可从右侧文件树下载</h3>
    <img src="http://o913sn63o.bkt.clouddn.com/工作台.png">

</body>
</html>